/*text style*/ 
@mixin hb---48px {
    font-size: 48px;
    font-family: Clash Display;
    letter-spacing: 0em;
  }
  @mixin hb---36px {
    font-size: 36px;
    font-family: Clash Display;
    letter-spacing: 0em;
  }
  @mixin hb---32px {
    font-size: 32px;
    font-family: Clash Display;
    letter-spacing: 0em;
  }
  @mixin lb---24px {
    font-size: 24px;
    font-family: Clash Display;
    letter-spacing: 0em;
  }
  @mixin lb---20px {
    font-size: 20px;
    font-family: Clash Display;
    letter-spacing: 0em;
  }
  @mixin lb---18px {
    font-size: 18px;
    font-family: Clash Display;
    letter-spacing: 0em;
  }
  @mixin bb---20px {
    font-size: 20px;
    font-family: Clash Display;
    letter-spacing: 0em;
  }
  @mixin bb---18px {
    font-size: 18px;
    font-family: Clash Display;
    letter-spacing: 0em;
  }
  @mixin bb---14px {
    font-size: 14px;
    font-family: Clash Display;
    letter-spacing: 0em;
  }
  @mixin bb---12px {
    font-size: 12px;
    font-family: Clash Display;
    letter-spacing: 0em;
  }
  @mixin hm---48px {
    font-size: 48px;
    font-family: Clash Display;
    font-weight: 500;
    letter-spacing: 0em;
  }
  @mixin hm---36px {
    font-size: 36px;
    font-family: Clash Display;
    font-weight: 500;
    letter-spacing: 0em;
  }
  @mixin hm---32px {
    font-size: 32px;
    font-family: Clash Display;
    font-weight: 500;
    letter-spacing: 0em;
  }
  @mixin lm---24px {
    font-size: 24px;
    font-family: Clash Display;
    font-weight: 500;
    letter-spacing: 0em;
  }
  @mixin lm---20px {
    font-size: 20px;
    font-family: Clash Display;
    font-weight: 500;
    letter-spacing: 0em;
  }
  @mixin lm---18px {
    font-size: 18px;
    font-family: Clash Display;
    font-weight: 500;
    letter-spacing: 0em;
  }
  @mixin bm---20px {
    font-size: 20px;
    font-family: Clash Display;
    font-weight: 500;
    letter-spacing: 0em;
  }
  @mixin bm---18px {
    font-size: 18px;
    font-family: Clash Display;
    font-weight: 500;
    letter-spacing: 0em;
  }
  @mixin bm---14px {
    font-size: 14px;
    font-family: Clash Display;
    font-weight: 500;
    letter-spacing: 0em;
  }
  @mixin bm---12px {
    font-size: 12px;
    font-family: Clash Display;
    font-weight: 500;
    letter-spacing: 0em;
  }
  @mixin hr---48px {
    font-size: 48px;
    font-family: Clash Display;
    font-weight: 400;
    letter-spacing: 0em;
  }
  @mixin hr---36px {
    font-size: 36px;
    font-family: Clash Display;
    font-weight: 400;
    letter-spacing: 0em;
  }
  @mixin hr---32px {
    font-size: 32px;
    font-family: Clash Display;
    font-weight: 400;
    letter-spacing: 0em;
  }
  @mixin lr---24px {
    font-size: 24px;
    font-family: Clash Display;
    font-weight: 400;
    letter-spacing: 0em;
  }
  @mixin lr---20px {
    font-size: 20px;
    font-family: Clash Display;
    font-weight: 400;
    letter-spacing: 0em;
  }
  @mixin lr---18px {
    font-size: 18px;
    font-family: Clash Display;
    font-weight: 400;
    letter-spacing: 0em;
  }
  @mixin br---20px {
    font-size: 20px;
    font-family: Clash Display;
    font-weight: 400;
    letter-spacing: 0em;
  }
  @mixin br---18px {
    font-size: 18px;
    font-family: Clash Display;
    font-weight: 400;
    letter-spacing: 0em;
  }
  @mixin br---14px {
    font-size: 14px;
    font-family: Clash Display;
    font-weight: 400;
    letter-spacing: 0em;
  }
  @mixin br---12px {
    font-size: 12px;
    font-family: Clash Display;
    font-weight: 400;
    letter-spacing: 0em;
  }
  